html, body {
	height: 100%;
	margin: 0;
}

.container {
	font-size: 0;
	white-space: nowrap;
	height: 100%;
	padding: 20px;
    box-sizing: border-box;
}

#map_container {
	display: inline-block;
	position: relative;
	background: #cce6ff;
	border: 1px #999 solid;
	overflow: hidden;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#svg_path {
	cursor: default;
}

#scaler {
	height: 200px;
	position: absolute;
	top: 20px;
	left: 20px;
}

#scaler .scale-button {
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 3px;
	border: 1px #aaa solid;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
	cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    font-family: Arial;
}

.details-container,
.countries-container {
	display: inline-block;
	vertical-align: top;
    margin-left: 20px;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
	width: 400px;
	font-size: 13px;
	line-height: 15px;
	font-family: Arial, sans-serif;
	white-space: normal;
}

.details-container.hidden,
.countries-container.hidden {
	display: none;
}

.details-container p {
	margin: 10px;
}

.details-container .data {
	margin: 10px;
}

.flag {
	min-width: 140px;
	height: 140px;
	border: 1px #eee solid;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    margin: 20px 10px 10px;
    line-height: 30px;
}

.country-name {
	white-space: nowrap;
}

.flag-icon {
	height: 14px;
	border: 1px #eee solid;
}

.countries-container {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.country-name {
	cursor: pointer;
	color: #0067B3;
}

.countries-container .line {
	line-height: 1.5em;
}

.flag-container {
	width: 35px;
	display: inline-block;
}